<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>video player</title>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <div id="app">
            <video :src="videoUrl" controls autoplay width="300"></video>
            <div>
                <input type="text" v-model="searchTerm" placeholder="Search" />
                <button type="button" @click="findMovie">Search</button>
            </div>
            <ul>
                <li v-for="file in files" :key="magnet">
                    <div>{{file.title}}</div>
                    <button @click="play(file)">Play</button>
                </li>
            </ul>
        </div>

        <script>
            const { createApp, ref } = Vue;

            createApp({
                data() {
                    return {
                        activeVideo: '',
                        searchTerm: '',
                        files: [],
                    };
                },
                computed: {
                    videoUrl: ({ activeVideo }) =>
                        activeVideo.title ? `/stream/${activeVideo.magnet}/${activeVideo.title}` : '',
                },
                methods: {
                    async play(file) {
                        const response = await axios.get(`/stream/add/${file.magnet}`);

                        this.activeVideo = {
                            title: response.data[0].name,
                            magnet: file.magnet,
                        };
                    },
                    async findMovie() {
                        const response = await axios.get(`/movies/search?searchTerm=${this.searchTerm}`);

                        this.files = response.data;
                    },
                },
            }).mount('#app');
        </script>
    </body>
</html>
