<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>video player</title>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <div id="app">
            <video :src="videoUrl" controls autoplay width="300"></video>
            <ul>
                <li v-for="({magnet, fileName}) in files" :key="magnet">
                    <div>{{fileName}}</div>
                    <button @click="play({magnet, fileName})">Play</button>
                </li>
            </ul>
        </div>

        <script>
            const { createApp, ref } = Vue;

            createApp({
                data() {
                    return {
                        activeVideo: '',
                        files: [
                            {
                                magnet: '7E05536D5F9D30267727D0EACD55AE1201981128',
                                fileName:
                                    'Foundation.S02E01.In.Seldons.Shadow.1080p.ATVP.WEB-DL.DDP5.1.H.264-EniaHD.mkv',
                            },
                        ],
                    };
                },
                computed: {
                    videoUrl: ({ activeVideo }) =>
                        activeVideo.fileName ? `/stream/${activeVideo.magnet}/${activeVideo.fileName}` : '',
                },
                methods: {
                    async play(file) {
                        const response = await axios.get(`/stream/add/${file.magnet}`);

                        this.activeVideo = file;
                    },
                },
            }).mount('#app');
        </script>
    </body>
</html>
